@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap');

*{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    font-weight: bold;
    padding-left: 3em;
    padding-bottom: 1em;
    padding-right: 1em;
    align-items: center;
    justify-content: flex-end;
    background-color: #ebe5ce;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.281) ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

img, .logo{
    padding: none;
    margin-left: 0;
    width: 125px;
    height: 125px;
    margin-right: auto;
    margin-top: auto;
}

.lista, li, button{
    text-decoration: none;
    color: #2b8577;
}

button{
    padding: 9px 25px;
    background-color: #9c2d9c;
    color: #ebe5ce;
    font-weight: bolder;
    border-radius: 50px;
    border: none;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.253);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.253);
}

button:hover{
    background-color: #2b8577;
    color: #ebe5ce;
    cursor: pointer;
    transform: scale(1.03);
}

li{
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

li, .lista, button {
    transition: all 0.4s;
}
.lista:hover{
    color: #9c2d9c;
    font-size: 1.03em;
}

body{
    height: 110vh;
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(imagens/pexels-antoni-shkraba-4348401.jpg); 
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    }

.principal{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.295) rgba(0, 0, 0, 0.11));
    padding-left: 32px;
    margin-top: 17vh;
    height: 30vh;
}

.principal h1{
    text-align: center;
    max-width: 200px;
    margin: auto;
    margin-top: 10px;
    color: white;
    text-shadow: 1px 1px 5px black;
    background-color: #9c2d9c4b;
    border-radius: 10px;
}

.bloco-servicos{
    height: 45vh;
}

.servicos{
    padding: 5px;
    margin-left: 5px;
    margin-top: 10px; 
    width: 20vw;
    height: 5vh;
    min-width: 300px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.158);
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 10px;
    overflow: hidden;
    float: left;
}

.servicos p{
    font-family: 'PT Serif', serif;
    display: none;
    color: #f1f7ed;
    text-indent: 1em;
    text-align: justify;
    font-weight: 400;
    font-size: clamp(1px, 16px);
    margin-left: 5px;
    margin-right: 10px;
    padding: 5px;

}

.servicos:hover{
    height: max-content;
    padding: 5px;
    min-width: 320px;
    cursor: pointer;
}
.servicos:hover > p{
    display: block;
}

.servicos h2{
    text-align: center;
    color: #f1f7ed;
    font-size: clamp(12px, 20px);
    font-weight: 500;
}
